In [17]:
import pandas as pd
pd.set_option('display.max_colwidth', None) #para no cortar/truncar el contenido largo que muestran algunas columnas

jeopardy_df = pd.read_csv('jeopardy.csv')
print(jeopardy_df.head(0))
jeopardy_df.columns=['Channel Number', 'Air Date', 'TV Program', 'Category', 'Reward', 'Question', 'Answer']
print(jeopardy_df.head(10))

Empty DataFrame
Columns: [Show Number,  Air Date,  Round,  Category,  Value,  Question,  Answer]
Index: []
   Channel Number    Air Date TV Program                         Category  \
0            4680  2004-12-31  Jeopardy!                          HISTORY
1            4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES
2            4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...
3            4680  2004-12-31  Jeopardy!                 THE COMPANY LINE
4            4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES
5            4680  2004-12-31  Jeopardy!                   3-LETTER WORDS
6            4680  2004-12-31  Jeopardy!                          HISTORY
7            4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES
8            4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...
9            4680  2004-12-31  Jeopardy!                 THE COMPANY LINE

  Reward  \
0   $200
1   $200
2   $200
3   $200
4   $200
5   $200
6   $400
7   $400
8   $400
9   $400

                                                                                                        Question  \
0               For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1    No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                       The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                           In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4       Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
5                                  In the title of an Aesop fable, this insect shared billing with a grasshopper
6                                   Built in 312 B.C. to link Rome & the South of Italy, it's still in use today
7                                         No. 8: 30 steals for the Birmingham Barons; 2,306 steals for the Bulls
8  In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state
9             This housewares store was named for the packaging its merchandise came in & was first displayed on

           Answer
0      Copernicus
1      Jim Thorpe
2         Arizona
3      McDonald's
4      John Adams
5         the ant
6  the Appian Way
7  Michael Jordan
8      Washington
9  Crate & Barrel

In [89]:
word_list=["king"]
def contains(word_list, question):
    for word in word_list:
        if (" "+word not in question) and (" "+word.lower() not in question) and (" "+word.title() not in question) and (" "+word.upper() not in question):
            return False
    return True
#" "+str helps to no tinclude 'viking' while searching 'king', but admit 'kings', "king's", etc

#jeopardy_df_filtered =  jeopardy_df[ jeopardy_df.apply(lambda row: contains(["King", "England"], row['Question']), axis=1)]
#ambas lineas hacen lo mismo
jeopardy_df_filtered =  jeopardy_df[ jeopardy_df['Question'].apply(lambda question: contains(word_list, question))]

#print(jeopardy_df_filtered)

In [128]:
jeopardy_df_floated = jeopardy_df
#jeopardy_df_floated['Float Reward']=float(jeopardy_df_floated['Reward'][1:]) #no funciona porque intenta hacer float() con toda la columna a la vez, es mejor operar por fila, indicandolo en el axis como abajo
jeopardy_df_floated['Float Reward']=jeopardy_df_floated.apply(lambda row:  float(row['Reward'][1:].replace(',', '').replace('o value', '0')), axis=1)
#las que dicen 'no value' les pongo un cero

#print(jeopardy_df_floated)

In [134]:
jeopardy_df_floated_filtered = jeopardy_df_floated[ jeopardy_df_floated['Question'].apply(lambda question: contains(word_list, question))]
avg_king_reward = jeopardy_df_floated_filtered['Float Reward'].mean()
#print(avg_king_reward)

In [136]:
def number_diferent_answers(df):
    return df['Answer'].nunique()
print(number_diferent_answers(jeopardy_df))
print(number_diferent_answers(jeopardy_df_filtered))#diferentes respuestas para las preguntas de reyes

4983
64

In [142]:
jeopardy_df_90s = jeopardy_df[ jeopardy_df.apply(lambda row: '1899-12-31'<row['Air Date']<'2000-01-01', axis=1)]
jeopardy_df_90s_computers =  jeopardy_df_90s[ jeopardy_df_90s['Question'].apply(lambda question: contains(['computer'], question))]
print("On 90s there where "+str(len(jeopardy_df_90s_computers))+" questions about computers")

jeopardy_df_00s = jeopardy_df[ jeopardy_df.apply(lambda row: '1999-12-31'<row['Air Date']<'2100-01-01', axis=1)]
jeopardy_df_00s_computers =  jeopardy_df_00s[ jeopardy_df_00s['Question'].apply(lambda question: contains(['computer'], question))]
print("On 2000s there where "+str(len(jeopardy_df_00s_computers))+" questions about computers")

On 90s there where 2 questions about computers
On 2000s there where 9 questions about computers

In [160]:
jeopardy_1st_round = jeopardy_df[ (jeopardy_df['TV Program']=='Jeopardy!') ]
jeopardy_2nd_round = jeopardy_df[ (jeopardy_df['TV Program']=='Double Jeopardy!') ]
jeopardy_3rd_round = jeopardy_df[ (jeopardy_df['TV Program']=='Final Jeopardy!') ]

def category_by_rounds(category):
    round_matches=[]
    round_matches.append( len(jeopardy_1st_round[ (jeopardy_1st_round['Category']==category) | (jeopardy_1st_round['Category']==category.lower()) | (jeopardy_1st_round['Category']==category.upper()) | (jeopardy_1st_round['Category']==category.title()) ]) )
    round_matches.append( len(jeopardy_2nd_round[ (jeopardy_2nd_round['Category']==category) | (jeopardy_2nd_round['Category']==category.lower()) | (jeopardy_2nd_round['Category']==category.upper()) | (jeopardy_2nd_round['Category']==category.title()) ]) )
    round_matches.append( len(jeopardy_3rd_round[ (jeopardy_3rd_round['Category']==category) | (jeopardy_3rd_round['Category']==category.lower()) | (jeopardy_3rd_round['Category']==category.upper()) | (jeopardy_3rd_round['Category']==category.title()) ]) )
    return round_matches

print("Matches of 'Literature' category by the different rounds: "+str( category_by_rounds('Literature')))

Matches of 'Literature' category by the different rounds: [0, 15, 0]

In [167]:
import random

def play_quiz():
    reward=0
    cont = True
    question=1
    while cont == True:
        index = random.randint(0, len(jeopardy_df_floated)-1)
        row = jeopardy_df_floated.iloc[index]
        response = input("Question number "+str(question)+", category: "+row['Category']+"\nfor "+row["Reward"]+": "+row['Question']+"\n-> ")
        response = input("The answer was: "+row['Answer']+"\ndid you acerted? if you did it say 'yes'")
        if response == 'yes':
            reward+=row['Float Reward']
            response = input("Continue? Right now you have "+str(reward)+"\n to continue say 'yes' ")
            if response != 'yes':
                print("Congratulations, you won $"+str(reward))
                cont=False
        else:
            print("you loss your reward of $"+str(reward))
            cont=False
        question +=1
        
play_quiz()

Question number 1, category: DON'T MESS WITH SICILY
for $200: At nearly 11,000 feet this "active" spot is Sicily's highest point
-> Volcan
The answer was: Mount Etna
did you acerted? if you did it say 'yes'yes
Continue? Right now you have 200.0
 to continue say 'yes' yes
Question number 2, category: PHOTOGRAPHERS
for $400: In April 1875 the Library of Congress gained possession of his Civil War photographic plates for $25,000
-> a
The answer was: Mathew Brady
did you acerted? if you did it say 'yes'yes
Continue? Right now you have 600.0
 to continue say 'yes' no
Congratulations, you won $600.0